#team-list {}
#team-list>div {}
#team-list>div>div {}
#team-list>div>div>div {}
.wrapper-team-cards {
    margin-bottom: 20px;
}
.wrapper-team-cards .team-card {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
}
.wrapper-team-cards .team-card .wrapper-img {
    position: relative;
    width: auto;
    flex-shrink: 0;
}
.wrapper-team-cards .team-card .wrapper-img a {
    display: block;
    height: 100%;
}
.wrapper-team-cards .team-card .wrapper-img a img {
    height: 214px;
    max-height: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
}
.wrapper-team-cards .team-card .post-info {
    flex: 1;
    padding: 25px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 1px solid #f5f5f5;
    border-left: 5px solid #002878;
    background-color: transparent;
}
.wrapper-team-cards .team-card .post-info .title {
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
}
.wrapper-team-cards .team-card .post-info .position {
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0;
}
.wrapper-team-cards .team-card .post-info .location {font-size: 15px;font-weight: 600;margin: 5px 0;}
.wrapper-team-cards .team-card .post-info .location i {
    color: #f55000;
}
.wrapper-team-cards .team-card .post-info .location span {
}
.wrapper-team-cards .team-card .post-info .phone {
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0;
}
.wrapper-team-cards .team-card .post-info a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.wrapper-team-cards .team-card .post-info .plus-link {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 42px;
    height: 42px;
    background-color: #f5f5f5;
    color: #969696;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 4px 0px 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    font-size: 24px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.wrapper-team-cards .team-card .post-info .plus-link i {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 22px;
    line-height: 1;
}
.wrapper-team-cards .team-card .post-info .plus-link:hover {
    background-color: #002878;
    color: #6f6f6f;
}